<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <servlet>
    <description></description>
    <display-name>bookservlet</display-name>
    <servlet-name>bookservlet</servlet-name>
    <servlet-class>Booking.bookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookservlet</servlet-name>
    <url-pattern>/bookservlet</url-pattern>
  </servlet-mapping>
  <display-name>Tourguide</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DetailsServlet</display-name>
    <servlet-name>DetailsServlet</servlet-name>
    <servlet-class>Booking.DetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsServlet</servlet-name>
    <url-pattern>/DetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityServlet</display-name>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>Booking.ActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/ActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>Booking.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>Booking.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>